@font-face {
  font-family: 'Sarabun';
  src: url('../fonts/Sarabun-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Sarabun';
  src: url('../fonts/Sarabun-Bold.ttf') format('truetype');
  font-weight: normal;
font-weight: bold;
}	

body {
  font-family: 'Sarabun';
}


.row {
  display: -webkit-box; /* wkhtmltopdf uses this one */
  display: flex;
  -webkit-box-pack: center; /* wkhtmltopdf uses this one */
  justify-content: center;
}


div.test-ja {
  display: -webkit-box; /* wkhtmltopdf uses this one */
  -webkit-box-align: center; /* wkhtmltopdf uses this one */
}